/* <======== RESET ==========>  */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* <=======================> */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* font-family: 'Inter', sans-serif; */ /* fw: 400, 700 */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */ /* fw: 400 */

:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);

  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stats-heading: hsla(0, 0%, 100%, 0.6);

  --fs-main: 0.9375rem;
  --fs-head: 2.5rem;

  --border-rad: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--main-bg);
}

.wrapper {
  width: min(75vw, 90vw);

  display: grid;
  grid-template-columns: 1fr 1fr;

  border-radius: var(--border-rad);
  background-color: var(--card-bg);
}

.container.left {
  height: min(55vh, 65vh);
  padding: 10%;

  font-family: 'Intern', sans-serif;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

/* rgba(170 92 219) */
.container.right {
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(63, 33, 82, 0.6),
      rgba(91, 48, 117, 0.6)
    ),
    url(res/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(150%);
  border-radius: 0 var(--border-rad) var(--border-rad) 0;
}

.container h1 {
  width: 75%;
  font-weight: 700;
  text-align: left;
  line-height: 1.15;
  color: var(--main-heading);
}

.description {
  width: 70%;
  margin-top: -2.5%;

  line-height: 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.05rem;
  font-weight: 400;
  color: var(--main-paragraph);
}

.headline h1 {
  font-size: var(--fs-head);
}

.headline span {
  color: var(--accent);
}

p {
  text-align: left;
  line-height: 1.5;
  font-family: 'Lexend Deca', sans-serif;
  font-size: var(--fs-main);
  color: var(--stats-heading);
}

ul {
  padding: 0;
  margin: 0;
}

.stats {
  width: 100%;
  height: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.stats il {
  padding-right: 10%;
}

.stats h1 {
  font-size: 1.75rem;
}

.stats p {
  font-size: var(--fs-main);
}

/* MOBILE */
@media screen and (max-width: 500px) {
  .wrapper {
    width: 85vw;
    height: 80vh;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    justify-content: center;
  }

  .container.right {
    grid-row: 1;
    border-radius: var(--border-rad) var(--border-rad) 0px 0px;
  }

  .container.left {
    text-align: center;
    padding: 10% 5%;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }

  .container h1 {
    width: 100%;
    font-size: 1.5rem;
  }

  .container.left h1,
  p {
    text-align: center;
    margin: 0 auto;
  }

  .description {
    margin-top: 5%;
    width: 100%;
    height: 15vh;

    overflow: hidden;
    font-size: 0.75rem;
  }

  .stats {
    margin-top: -10%;
    flex-direction: column;
    height: 50%;
  }

  .stats il {
    justify-content: flex-start;
    padding: 5% 0%;
  }

  .stats il h1 {
    font-size: 1.2rem;
  }
}
